<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>search</title>
</head>
<body>

        <nav><form action="/">
            <button>Home Page</button></form></nav>
    <h1>Discover movies</h1>

    
<div><p>Disscover The:</p>
<form action="/dosearches" method="POST">
    <input type="radio" name="disc" value="popularity"> Most Popular<br>
    <input type="radio" name="disc" value="revenue"> Box Office <br>
    <input type="text" name="year" placeholder="Release date (optional)">
    <button>Discover</button>

</form>
</div>

<div><p>Search by title:</p>
<form action="/searchbox" method="POST">
<input type="text" name="box" placeholder="Title">
<button>Search</button>
</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="app.js"></script>
</body>
</html>