#mainOne{
    background-color: black;
    color:white;
}
/* background-color: rgb(14, 13, 13); */
#body2{
    background-color: rgba(215, 219, 222, 0.701); 
 }


/* background-repeat: no-repeat, repeat; */