#mainOne{
    background-color: black;
    color:white;
}
/* background-color: rgb(14, 13, 13); */

#mainShow{
    /* background-color: rgb(223, 223, 223); */
    background-color: white;
    color: white;
}



#mainOne-det{
    /* background-color: rgb(223, 223, 223); */
    background-color: rgb(255, 255, 255);
    color: white;
}