body{
    background-image: url('../styles/images/Genius-bytes-logo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
 } 

footer{
   text-align: center;
   font-size: x-large;
   border: 0.5px solid rgb(197, 11, 11);
   border-radius: 20px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;;
   display: block;
   min-height: 50px;
   padding-top: 10px;
   position: relative;
   text-shadow: 3px 3px maroon;
   width: 1400px;
   position: absolute;
    right: -40px;
 }

 fieldset{
   text-align: center;
   font: 28px Papyrus, fantasy;
   font-size:x-large ;
   border: 0.5px solid rgb(255, 255, 255);
   border-radius: 20px;
   color: black;
   font: bolder;
   font-family: monospace;
   display: block;
   position: relative;
   left: 212px;
   width: 870px;
   background-repeat: no-repeat, repeat;
   background-image: url("images/7039.jpg");
   background-attachment: fixed;
   background-size: cover;
 }
 h2{
    text-align: center;
    font-size: x-large;
    color: rgb(255, 255, 255);
    text-shadow:3PX 3px maroon;
    font-family: cursive;
       
 }
 section{
   text-align: center;
   border: 0.1px solid black;
   border-radius: 2px;
   position: relative;
   left: 212px;
   width: 870px;
   background-image: url("images/7039.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   color: blanchedalmond;
 }
.container {
    display: inline-block;
    font-family: Arial;
    width: 24.5%;
 }

 .container img {
    border-radius: 90%;
 } 
 .text-block {
   position: absolute;
   bottom: 20px;
   right: 20px;
   background-color: black;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
 }
#papa{
   color: rgb(255, 255, 255);
   font-size: 24px;
   font-weight: bolder;
   font: Papyrus, fantasy;
   text-shadow: 3px 3px maroon;

}


#papa2{
   color: rgb(255, 255, 255);
   font-size: 16px;
   font-weight: bolder;
   font: Papyrus, fantasy;
   text-shadow: 3px 3px maroon;



}
.container2 img {
   border-radius: 30%;
   width: 75px;
   height: 75px;
} 
.container2 {
   display: inline-block;
   font:  Papyrus, fantasy;
   width: 20%;

}
#blu{
   color: darkcyan;
   font-weight: bolder;
}
#tag{
   color: darkcyan;
   font-weight: bolder;
}
