/* Our Project Logo */
#logoimage {
    height: 200px;
    width: 960px;
    margin-left: 200px;    
    text-align: center;
} 

/* navigation list  */
.nav {
    display: inline-block;
    color: white;
    background-color: white;
    border: 2px rgb(156, 11, 11) solid;
    border-radius: 30px;
    width: 125px;
    text-align: center;
    padding: 10px;
    position: relative;
    left: -3.5px;
    box-shadow: 1px 1px 1px black;
    font-family: fantasy;
 }

/* navigation bar  */
.navigation {
    text-align: center;
}

 nav a:hover {
    color:rgb(13, 196, 171);
    text-decoration: none;
 }
 
 nav a {
     color: maroon;
 }
 
/* Search Button on homepage  */
#searchbutton , #favbutton{
    float: left;
    padding : 20px ;
    margin: 20px auto;
}